/* .table__row:hover {
	background-color: white;
} */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.header__home {
	margin: 60px 0;
}

.header__home-button {
	width: 70px;
	height: 70px;
}

.header__logo {
    font-family: IndieFlower;
    font-size: 50px;
    color: #EDEFF0;
    text-align: center;
    margin: -25px 20px
}

.header__buttons {
    margin: 50px 0;
    display: flex;
    align-items: center;
    height: 80px;
    width: 500px;
    justify-content: space-between;
}

.header__button  {
    border: 2px solid #979797;
    border-radius: 12px;
    font-family: Roboto-Regular;
    font-size: 30px;
    color: #00B7DE;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.header__profile {
    margin-left: 90px;
}

.header__sign-out {
    margin-right: 50px;
}

.header__button:hover, .header__button:focus {
    font-size: 34px;
    height: 39px;
}

.leaders-content {
	display: flex;
    flex-direction: column;
	align-items: center;
	height: 460px;
	opacity: 1;
	border: 2px solid #979797;
	border-radius: 16px;
	margin: 0 330px 100px 350px;
}

.leaders__header {
	font-size: 36px;
	font-family: Roboto-Bold;
	color: #DA8F56;
}

.leaders__table {
	width: 370px;
	margin-bottom: 40px; /* изменить это под 6 юзеров на странице */
}

.table__row {
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 54px;
}

.leaders__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0; 
	width: 400px;
}

.leaders__button {
	width: 70px;
	height: 70px;
}

.leaders__page-number {
    font-family: Roboto-Regular;
	font-size: 32px;
    color: #FFFFFF;
    margin-top: 15px;
}