.header {
    justify-content: space-around;
    margin-right: 250px;
}
    
.header__buttons {
    width: auto;
}

.header__home {
    margin: 60px 0;
}

.header__home-button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 250ms ease-out;
}

.header__home-button:hover {
    transform: scale(1.1);
}

.header__logo {
    font-family: IndieFlower;
    font-size: 50px;
    color: #EDEFF0;
    text-align: center;
    margin: -25px 20px
}

.signin-content {
    font-family: Roboto-Regular;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    width: 460px;
    opacity: 1;
    border: 2px solid #979797;
    border-radius: 16px;
    margin: 0 350px 15px 350px;
}

.signin__header {
    margin: 10px 0 30px 0;
    font-size: 40px;
    color: #DA8F56;
    text-align: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form__submit {
    font-family: Roboto-Bold;
    background: #DA8F56;
    border-radius: 8px;
    width: 260px;
    height: 55px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: none;
    outline: none; 
    cursor: pointer;
}

.signin-form__input {
    font-size: 22px;
    opacity: 0.98;
    background: #BEDFEE;
    border: 1px solid #979797;
    border-radius: 8px;
    color: #101C45;
    width: 350px;
    height: 30px;
    padding: 12px;
    margin: 0px 0 10px 0;
}

.input-last {
    margin: 0px 0 25px 0;
}

.signin__no-account {
    color: white;
    text-align: center;
    margin-left: 50px;
}

.signin__ask-for-account {
    margin-right: 10px;
    font-weight: bold;
}

.signin__link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
