.header {
    justify-content: space-around;
    margin-right: 250px;
}
    
.header__buttons {
    width: auto;
}

.header__home {
    margin: 60px 0;
}

.header__home-button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 250ms ease-out;
}

.header__home-button:hover {
    transform: scale(1.1);
}

.header__logo {
    font-family: IndieFlower;
    font-size: 50px;
    color: #EDEFF0;
    text-align: center;
    margin: -25px 20px
}

.signin-content {
    font-family: Roboto-Regular;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    width: 460px;
    opacity: 1;
    border: 2px solid #979797;
    border-radius: 16px;
    margin: 0 350px 15px 350px;
}

.signin__header {
    margin: 10px 0 30px 0;
    font-size: 40px;
    color: #DA8F56;
    text-align: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form__submit {
    font-family: Roboto-Bold;
    background: #DA8F56;
    border-radius: 8px;
    width: 260px;
    height: 55px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: none;
    outline: none; 
    cursor: pointer;
}

.signin-form__input {
    font-size: 22px;
    opacity: 0.98;
    background: #BEDFEE;
    border: 1px solid #979797;
    border-radius: 8px;
    color: #101C45;
    width: 350px;
    height: 30px;
    padding: 12px;
    margin: 0px 0 10px 0;
}

.input-last {
    margin: 0px 0 25px 0;
}

.signin__no-account {
    color: white;
    text-align: center;
    margin-left: 50px;
}

.signin__ask-for-account {
    margin-right: 10px;
    font-weight: bold;
}

.signin__link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .header {
        justify-content: space-around;
        margin: 0px;
        margin-bottom: 30px;
    }
    .signin__header {
        font-size: 52px;
        margin: 10px 0 45px 0;
    }
    .signin-content {
        height: 500px;
        min-width: 280px;
        margin: auto;
        width: 510px;
        margin-bottom: 15px;
    }
    .signin-form__input {
        width: 410px;
        height: 45px;
        margin-bottom: 20px;
    }
    .signin-form__submit {
        height: 70px;
        font-size: 20px;
        padding: 15px;
        width: 443px;
    }
    .signin__no-account {
        margin: auto;
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .header {
        justify-content: space-around;
        margin: 0px;
        margin-bottom: 30px;
    }
    .signin__header {
        font-size: 45px;
        margin: 10px 0 35px 0;
    }
    .signin-content {
        height: 420px;
        min-width: 280px;
        margin: auto;
        width: 435px;
        margin-bottom: 13px;
    }
    .signin-form__input {
        width: 360px;
        height: 37px;
        margin-bottom: 17px;
    }
    .signin-form__submit {
        height: 63px;
        font-size: 20px;
        padding: 15px;
        width: 388px;
    }
    .signin__no-account {
        margin: auto;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        justify-content: space-around;
        margin: 0px;
        height: 185px;
        margin-bottom: 30px;
    }
    .header__logo {
        font-size: 40px;
        margin: -25px 20px 0 40px;
    }
    .signin-content {
        height: 300px;
        min-width: 280px;
        margin: auto;
        margin-bottom: 12px;
        width: 290px;
    }
    .signin__header {
        font-size: 35px;
        margin: 10px 0 25px 0;
    }
    .signin-form__input {
        width: 270px;
        height: 23px;
        margin-bottom: 0px;
    }
    .signin-form__submit {
        width: 260px;
        height: 52px;
        font-size: 20px;
        padding: 15px;
        width: 300px;
    }
    .signin__no-account {
        margin: auto;
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    .header {
        justify-content: space-around;
        margin: 0px;
        height: 170px;
    }
    .header__logo {
        font-size: 35px;
    }
    .header__home {
        margin: 30px 0;
    }
    .signin-content {
        height: 280px;
        min-width: 280px;
        margin: 0;
        margin-bottom: 12px;
    }
    .signin__header {
        font-size: 33px;
        margin: 10px 0 20px 0;
    }
    .signin-form__input {
        width: 270px;
        height: 20px;
        margin-bottom: 0px;
    }
    .signin-form__submit {
        width: 260px;
        height: 46px;
        font-size: 20px;
        padding: 15px;
        width: 300px;
    }
}