/* //    colors
$orange-color: #DA8F56;
$white-color: #EDEFF0;
$border-color: #979797;
$dark-color: #101C45;

// fonts
$font-indie: IndieFlower;
$font-roboto-reg: Roboto-Regular;
$font-roboto-bold: Roboto-Bold; */

.profile__header {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-bottom: 30px;
}

/* .profile__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.profile__header__logo {
    font-family: IndieFlower;
    font-size: 62px;
    color: #EDEFF0;
    text-align: center;
    margin: -25px 130px;
}

.profile__header__home {
    margin: 80px 0 60px 160px;
}

/* .profile__header__title {
    margin: auto;
} */

.profile-content {
	display: flex;
    flex-direction: column;
	align-items: center;
    height: 540px;
    width: 860px;
	opacity: 1;
	border: 2px solid #979797;
    border-radius: 16px;
    padding: 20px;
	margin: 0 120px 100px 120px
}

.profile__content__header {
    justify-content: space-around;
    margin: 0 0 -20px 80px;
	font-size: 46px;
	font-family: Roboto-Regular;
    color: #DA8F56;
    margin-bottom: 20px;
}

.profile-form {
    width: 800px;
}

.profile-form__inline, .profile-form__info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.profile-form__avatar {
    width: 270px;
    height: 270px;
}

.profile-form__item {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #DA8F56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-bottom: 30px;
}

.profile-form__input, .profile-form__label {
    font-family: Roboto-Bold;
    font-size: 22px;
    opacity: 0.98;
    background: #BEDFEE;
    border: 1px solid #979797;
    border-radius: 8px;
    color: #101C45;
    width: 350px;
    height: 25px;
    padding: 10px;
}

.profile-form__label {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.profile-form__submit {
    background: #DA8F56;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 260px;
    height: 55px;

    font-family: Roboto-Regular;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.info-block__item {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #DA8F56;
    text-align: center;
    width: 170px;
}

.profile-form__label {
    text-align: center;
}

@media (max-width: 1200px) {
    .profile__header__home {
        margin: 80px 0 60px 115px;
    }
    .profile__header__logo {
        font-size: 51px;
        margin: auto;
    }
    .profile__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }   
    .profile-content {
        width: 550px;
        height: 780px;
        padding: 35px;
    }
    .profile-form__inline { 
        flex-direction: column;
        margin-bottom: 20px;
    }
    .profile-form__info-block {
        flex-direction: row;
    }
    .profile__content__header {
        margin: 0 0 -20px 0px;
        margin-bottom: 30px;
    }
    .profile-form__avatar {
        margin-bottom: 20px;
    }
}

@media (max-width: 870px) {
    .profile__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }   
}

@media (max-width: 480px) {
    
}

@media (max-width: 330px) {
    
}
