@import "../../consts.scss";

.game {
    &-view__canvas-layers {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(0%, -50%);
    } 

    &-view__canvas-layer {
        position: absolute;
        top: $fifty;
        left: $fifty;
        transform: translate(-$fifty, -$fifty);
        // background-color: yellow;
    }

    &__header__home-button {
        width: 70px;
        height: 70px;
    }
    &__header__home {
        position: absolute;
        top: 10%;

        left: 20%;
        transform: translate(-$fifty, -$fifty);
    }

    &__header__score {
        position: absolute;
        top: 10%;

        right: 20%;
        transform: translate($fifty, -$fifty);
    }

    &__header__score-p {
        font-size: 60px;
        font-family: $roboto;
        color: $color-white;
        text-align: center;
    }

    &-view__turn-button {
        font-family: $roboto;
        font-size: 150%;
        background: $color-orange;
        border-radius: 8px;
        width: 150px;
        height: 88px;
        color: $color-white;
        text-align: center;
        text-decoration: $none;
        padding: 15px;
        border: $none;
        outline: $none;
        cursor: pointer;
        left: 85%;
        bottom: 50%;
        position: absolute;
        transform: translate(-50%, 0%);
    }

    &-view__turn-image {
        position: absolute;
        left: 85%;
        bottom: 50%;
        height: 88px;
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 1050px) {
    .game {
        &-view__canvas-layers {
            top: $fifty;
            left: $fifty;
            transform: translate(-$fifty, -$fifty);
        }

        &-view__turn-button {
            left: $fifty;
            bottom: 5%;
            transform: translate(-50%, 0%);
        }

        &-view__turn-image {
            left: $fifty;
            bottom: 5%;
            transform: translate(-50%, 0%);
        }
    }
}



@media (max-width: 400px){
    .game-view__turn-button {
        width: 80%;
    }
}


