.game-view__canvas-layers {
    position:relative; 
    width:800px; 
    height:800px 
}

.game-view__canvas-layer {
    position:absolute; 
    top:0; 
    left:0;
    width:800px; 
    height:800px 
}