/* .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    padding-right: 250px;
}
    
/* .header__buttons {
    width: auto;
} */
   
   /* .header__home {
    margin: 60px 0;
    cursor: pointer;
   }
   
   .header__home-button {
    width: 70px;
    height: 70px;
   }
   
   .header__logo {
    font-family: IndieFlower;
    font-size: 50px;
    color: #EDEFF0;
    text-align: center;
    margin: -25px 20px
   }  */

//    colors
$orange-color: #DA8F56;
$white-color: #EDEFF0;
$border-color: #979797;
$dark-color: #101C45;

// fonts
$font-indie: IndieFlower;
$font-roboto-reg: Roboto-Regular;
$font-roboto-bold: Roboto-Bold;

   
.sign-up {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 200px;
        padding-right: 250px;
    }
    &__header__home {
        margin: 60px 0;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__header__logo {
        font-family: $font-indie;
        font-size: 50px;
        color: $white-color;
        text-align: center;
        margin: -25px 20px
    }
    &__header__title{
        font-size: 70px;
    }
}

// .sign-up__header__home {
//     margin: 60px 0;
//     cursor: pointer;
// }

// .sign-up__header__home:hover {
//     transform: scale(1.1);
// }

// .sign-up__header__logo {
//     font-family: $font-indie;
//     font-size: 50px;
//     color: $white-color;
//     text-align: center;
//     margin: -25px 20px
// }

// .sign-up__header__title{
//     font-size: 70px;
// }

.sign-up-content {
    font-family: $font-roboto-reg;
    display: flex;
    flex-direction: column;
	align-items: center;
	height: 500px;
	opacity: 1;
	border: 2px solid $border-color;
	border-radius: 16px;
    margin: 0 330px 100px 350px;
    padding: 20px;
    min-width: 380px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
	align-items: center;
}
   
.sign-up__content__header {
    font-family: $font-roboto-bold;
    margin: 10px 0 30px 0;
    font-size: 40px;
    color: $orange-color;
    text-align: center;
}

.sign-up-form__input {
    font-size: 18px;
    opacity: 0.98;
    // background: #BEDFEE;
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    color: $dark-color;
    width: 350px;
    height: 25px;
    padding: 15px;
    margin-bottom: 25px;
}
   
.sign-up-form__submit {
    font-family: $font-roboto-bold;
    background: $orange-color;
    border-radius: 8px;
    width: 260px;
    height: 55px;
    font-size: 20px;
    color: $white-color;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: none;
    outline: none;
    width: 370px; 
    cursor: pointer;
}

@media (max-width: 1100px) {
    .sign-up__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        padding: 0px;
    }
    .sign-up__header__home {
        margin: 13px 150px;
        cursor: pointer;
    }
    .sign-up__header__logo {
        font-family: $font-indie;
        font-size: 50px;
        color: $white-color;
        text-align: center;
        /* margin: -25px 20px */
    }

    .sign-up__header__title{
        font-size: 1em;
    }
    /* content */
    .sign-up__content__header {
        font-size: 52px;
        margin: 10px 0 45px 0;
    }
    .sign-up-content {
        height: 580px;
        min-width: 280px;
        margin: auto;
        width: 510px;
    }
    .sign-up-form__input {
        width: 410px;
        height: 40px;
        margin-bottom: 20px;
    }
    .sign-up-form__submit {
        height: 70px;
        font-size: 20px;
        padding: 15px;
        width: 443px;
    }
}

@media (max-width: 800px) {
    .sign-up__content__header {
        font-size: 45px;
        margin: 10px 0 45px 0;
    }
    .sign-up-content {
        height: 500px;
        min-width: 280px;
        margin: auto;
        width: 435px;
    }
    .sign-up-form__input {
        width: 325px;
        height: 20px;
        margin-bottom: 17px;
    }
    .sign-up-form__submit {
        width: 260px;
        height: 60px;
        font-size: 20px;
        padding: 15px;
        width: 358px;
    }
}

@media (max-width: 480px) {
    .sign-up__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        padding: 0px;
        height: 140px;
    }
    .sign-up__header__home {
        margin: 13px 150px -20px;
        cursor: pointer;
    }
    .sign-up__header__logo {
        font-family: $font-indie;
        font-size: 49px;
        color: $white-color;
        text-align: center;
        /* margin: -25px 20px */
    }

    .sign-up__header__title{
        font-size: 1em;
    }


    .sign-up-content {
        height: 370px;
        min-width: 280px;
        margin: auto;
        width: 300px;

    }
    .sign-up__content__header {
        font-size: 35px;
    }
    .sign-up-form__input {
        width: 270px;
        height: 11px;
        margin-bottom: 15px;
    }
    .sign-up-form__submit {
        width: 260px;
        height: 46px;
        font-size: 20px;
        padding: 15px;
        width: 300px;
    }
}

@media (max-width: 330px) {
    .sign-up__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        padding: 0px;
    }
    .sign-up__header__home {
        margin: 13px 150px;
        cursor: pointer;
    }
    .sign-up__header__logo {
        font-family: $font-indie;
        font-size: 37px;
        color: $white-color;
        text-align: center;
        /* margin: -25px 20px */
    }

    .sign-up__header__title{
        font-size: 1em;
    }


    .sign-up-content {
        height: 350px;
        min-width: 280px;
        margin: auto;
        width: 280px;
    }
    .sign-up__content__header {
        font-size: 33px;
        margin: 10px 0 20px 0;
    }
    .sign-up-form__input {
        width: 270px;
        height: 11px;
        margin-bottom: 15px;
    }
    .sign-up-form__submit {
        width: 260px;
        height: 46px;
        font-size: 20px;
        padding: 15px;
        width: 300px;
    }
    .error {
        font-size: 15px;
    }
}

