$roboto: Roboto-Regular;
$roboto-bold: Roboto-Bold;
$indie-folwer: IndieFlower;
$white: #EDEFF0;
$gray: #979797;
$color-orange: #DA8F56;
$color-blue:#00B7DE;
$pos-abs: absolute;
$fifty: 50%;
$none: none;
$roboto: Roboto-Bold;
$font-title: IndieFlower;
$font-main: Roboto-Regular;
$font-header: Roboto-Bold;
$size-title: 70px;
$color-white: #EDEFF0;
$border: 2px solid #979797;
$pochti-white: #EDEFF0;
$white-color:#ffffff;
$orange-color: #DA8F56;
$grey-color:#979797;
$bedfee-color:#BEDFEE;
$dark-blue:#101C45;
$dark-color:#101C45;
$font-indie: IndieFlower;
$border-color: #979797;
$font-roboto-reg: Roboto-Regular;
$font-roboto-bold: Roboto-Bold;