.error {
    color: #f10000;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
}

.error__hidden {
    visibility: hidden;
}

@media (max-width: 800px) {
    .error {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .error {
        font-size: 18px;
    }
}

@media (max-width: 330px) {
    .error {
        font-size: 15px;
    }
}