@import 'components/Board/Board.scss';
@import '/components/Game/Game.scss';
@import '/components/SignUp/SignUp.scss';
@import '/components/SignIn/SignIn.scss';
@import "/components/Menu/Menu.scss";
@import "/components/About/About.scss";
@import "/components/Profile/Profile.scss";
@import "/components/Lost/Lost.scss";
@import "/components/Win/Win.scss";
@import "/components/Wait/Wait.scss";
@import "/components/Round/Round.scss";
@import "/components/Modal/Modal.scss";
@import "consts.scss";
@import 'error.scss';

body {
    margin: 0;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #03033f,  #08083b, #041652, #0a2068);
	background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
    font-family: Roboto-Regular;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


#application {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

@font-face {
    font-family: "IndieFlower";
    src: url("./fonts/IndieFlower.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

.game-view__game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-view__score-element {
    color: #DA8F56;
    font-size: 70px;
    margin-bottom: -30px;
}

#gc {
    margin-top: -35px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    padding-right: 280px;

    &__home {
        margin: 60px 0;
        cursor: pointer;
	}
	
    &__logo {
        font-family: $font-indie;
        font-size: 54px;
        color: $white-color;
        text-align: center;
        display: flex;
        align-content: center;
	}
	
    &__title{
        margin: auto;
	}
	
	&__home-button {
		width: 70px;
		height: 70px;
		cursor: pointer;
		transition: all 250ms ease-out;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.view-section {
	height: 100%;
	width: 100%;
}

@media (min-width: 50px) and (max-width: 600px) {
    // #application {
    //     min-height: 860px;
    // }
}

@media (min-width: 601px) and (max-width: 1400px) {
    #application {
        min-height: 860px;
    }

}

@media (max-width: 1100px) {
    .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            padding: 0px;
            
            &__home {
                margin: 13px 150px;
                cursor: pointer;
            }

            &__logo {
                font-family: $font-indie;
                font-size: 50px;
                color: $white-color;
                text-align: center;
                /* margin: -25px 20px */
            }

            &__title{
                font-size: 1em;
                margin: auto;
            }
        }
    }

@media (max-width: 480px) {
        .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            padding: 0px;
            height: 160px;

            &__home {
                margin: 13px 150px 0px;
                cursor: pointer;
            }

            &__logo {
                font-family: $font-indie;
                font-size: 48px;
                color: $white-color;
                text-align: center;
            }

            &__title{
                font-size: 1em;
                margin: auto;
            }
        }
}

@media (max-width: 330px) {
        .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            padding: 0px;

            &__home {
                margin: 13px 150px;
                cursor: pointer;
            }

            &__logo {
                font-family: $font-indie;
                font-size: 45px;
                color: $white-color;
                text-align: center;
            }

            &__title{
                font-size: 1em;
                margin: auto;
            }
        }
}
