@import url('components/Menu/Menu.css');
@import url('components/Board/Board.css');
@import url('components/About/About.css');
@import url('components/Profile/Profile.css');
@import url('components/SignIn/SignIn.css');
@import url('components/SignUp/SignUp.css');

/* html {     
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; 
} */

body {
    margin: 0;
    background: url(../images/background-main.jpg); 
    background-size: cover;
}

#application {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
/*
section[data-section-name = menu] {
    display: flex;
    flex-direction: column;
}

section[data-section-name = about] {
    display: flex;
    flex-direction: column;
}

.errorLabel{
    color: red;
    display: block;
}
.errorInput{
    border: 3px solid red;
} */

