@import url('components/Menu/Menu.css');
@import url('components/Board/Board.css');
@import url('components/About/About.css');
@import url('components/Profile/Profile.css');
@import url('components/SignIn/SignIn.css');
@import url('components/SignUp/SignUp.css');
@import url('components/Win/Win.css');
@import url('components/Lost/Lost.css');
@import url('error.css');

body {
    margin: 0;
    background: url(../images/background-main.jpg); 
    background-size: cover;
}

#application {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: "IndieFlower";
    src: url("./fonts/IndieFlower.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

.game-view__game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-view__score-element {
    color: #DA8F56;
    font-size: 70px;
    margin-bottom: -30px;
}

#gc {
    margin-top: -35px;
}