@import "../../consts.scss";

.round-header {
    display: flex;
    flex-direction: row;
    height: 200px;

    &__home {
        margin: 80px 0 60px -50px;
    }

    &__home-button {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }

    &__logo {
        font-family: $font-title;
        font-size: 70px;
        color: $color-white;
        text-align: center;
        margin: -25px 120px;
    }
}

.round-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    opacity: 1;
    border-radius: 16px;
    width: 800px;
    margin: $margin-30 auto;
    font-size: 32px;
    color: $color-white;

    &__score-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: inherit;
    }

    &__level-block {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: $margin-30;
    }

    &__timer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;
        font-size: 150px;
        width: 360px;
    }
}

.timer {
    &__tick {
        animation-name: bounce_timer;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        transform: scale(.8);
        color: $color-orange;

        &__animated1 {
            animation-delay: 1.5s;
        }

        &__animated2 {
            animation-delay: 2.5s;
        }

        &__animated3 {
            animation-delay: 3.5s;
        }
    }
}

@keyframes bounce_timer{
    0%{
        transform: scale(1.5);
        color: $color-orange;
    }

    100%{
        transform: scale(.5);
        color: $color-white;
    }
}

.score-block {
    &__player {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__role {
        margin-bottom: 12px;
        color: $color-orange;
    }

    &__name {
        font-size: 38px;
    }

    &__score {
        display: flex;
        flex-direction: row;
        font-size: 80px;
    }
}

.level-block {
    &__number {
        color: $color-orange;
        font-size: 180px;
    }

    &__label {
        padding-bottom: 40px;
    }
}