/* .win-content {
	display: flex;
    flex-direction: column;
	align-items: center;
    height: 430px;
	opacity: 1;
	border: 2px solid #979797;
	border-radius: 16px;
    margin: -30px 200px 100px 200px;
}

.win__header {
	font-size: 46px;
	font-family: Roboto-Regular;
    color: #DA8F56;
    margin-bottom: 20px;
}

.win-form {
    width: 800px;
}

.win-form__inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.win-form__image {
    width: 270px;
    height: 270px;
    margin: -10px 0 0 60px;
}

.win-form__item {
    font-family: Roboto-Regular;
    font-size: 30px;
    color: white;
    width: 500px;
    margin-bottom: 30px;
    text-align: center;
}

.win-form__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: -40px;
}

.win-form__item-score {
    font-size: 70px;
	font-family: Roboto-Bold;
    color: #DA8F56;
}

.repeat-button {
    text-align: center;
    margin-top: 70px;
}

.js-button__repeat-button {
    width: 85px;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.js-button__repeat-button:hover {
    transform: scale(1.1);
}  */
