@import "../../consts.scss";

.menu-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;

    &__logo {
        font-family: $font-title;
        font-size: $size-title;
        color: $color-white;
        text-align: center;
        margin: -30px 20px;
        min-width: 500px;
    }

    &__buttons {
        margin: 110px 0 100px 100px;
        display: flex;
        align-items: center;
        width: 600px;
        justify-content: space-between;
    }

    &__button  {
        border: $border;
        border-radius: 12px;
        font-family: $font-main;
        font-size: 30px;
        color: $color-blue;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms ease-out;
    }

    &__profile {
        margin-left: 100px;
    }

    &__sign-out {
        margin-right: 100px;
    }
    
    &__button:hover {
        transform: scale(1.1);
    } 
}

.menu {
    &__buttons {
        display: flex;
        flex-direction: column;
        margin: 40px 100px;
        width: 400px;
        align-items: center;
    }

    &__button {
        border: $border;
        border-radius: 12px;
        font-family: $font-main;
        font-size: 30px;
        color: $color-blue;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        margin: 20px 0;
        width: 320px;
        height: 35px;
        transition: all 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.menu-picture {
    width: 600px;
    position: absolute;
    top: 30%;
    left: 40%;

    &__img {
        width: 400px;
        height: 400px;
        padding: 90px 0 0 160px;
    }
}

@media (min-width: 50px) and (max-width: 600px) {
    .menu-section {
        width: 100%;
    }

    .menu-header {
        flex-direction: column;
        height: 400px;
        margin: -10px auto 20px auto;
        
        &__logo {
            font-size: 44px;
            text-align: center;
            margin: 10px 250px 0 35px;
            min-width: 200px;
        }

        &__buttons {
            margin: -40px auto auto auto;
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        &__button {
            padding: 18px 15px 5px 15px;
            margin: 15px 0;
            width: 200px;
            height: 34px;
            font-size: 18px;
        }
    }

    .menu {
        &__button {
        padding: 18px 15px 5px 15px;
        width: 200px;
        margin: 15px 0;
        font-size: 18px;
        }

        &__buttons {
            margin: auto;
            align-items: center;
            width: 300px;
        }
    }

    .menu-picture {
        width: 120px;
        top: 11%;
        left: 60%;
        &__img {
            width: 120px;
            height: 120px;
            padding: 0;
        }
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .menu-section {
        width: 100%;
    }

    .menu-header {
        flex-direction: column;
        height: 430px;
        margin: -10px auto 20px auto;
        
        &__logo {
            font-size: 50px;
            text-align: center;
            margin: 0 250px 0 70px;
            min-width: 200px;
            max-width: 340px;
        }

        &__buttons {
            margin: -40px auto auto auto;
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        &__button {
            padding: 15px;
            margin: 15px 0;
            width: 340px;
            height: 35px;
        }
    }

    .menu {
        &__button {
            width: 340px;
            margin: 15px 0;
        }

        &__buttons {
            margin: auto;
            align-items: center;
        }        
    }

    .menu-picture {
        width: 180px;
        top: 5%;
        left: 55%;

        &__img {
            width: 180px;
            height: 180px;
            padding: 0;
        }
    }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    .menu-section {
        width: 100%;
    }

    .menu-header {
        justify-content: flex-start;
        height: 300px;
        margin: -35px 10px 20px 80px;
        
        &__logo {
            font-size: 65px;
            text-align: center;
            margin: 0 0 0 40px;
            max-width: 320px;
            min-width: 200px;
        }
        
        &__buttons {
            margin: 110px 0 60px 0;
            width: 600px;
            justify-content: space-around;
        }
    }

    .menu__buttons {
        margin: 30px 80px;
    }
}