@import "../../consts.scss";

.menu-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin-top: 40px; 

    &__logo {
        font-family: $font-title;
        font-size: 100px;
        color: $color-white;
        text-align: center;
        margin: -30px 20px;
        min-width: 500px;
    }

    &__buttons {
        margin: 140px 0 100px 100px;
        display: flex;
        align-items: center;
        width: 750px;
        justify-content: space-between;
    }

    &__button  {
        border: $border;
        border-radius: 12px;
        font-family: $font-main;
        font-size: 40px;
        color: $color-blue;
        text-align: center;
        text-decoration: none;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        } 
    }

    &__profile {
        margin-left: 100px;
    }

    &__sign-out {
        margin-right: 100px;
    }
}

.menu {
    &__buttons {
        display: flex;
        flex-direction: column;
        margin: 70px 300px;
        width: 460px;
        align-items: center;
    }

    &__button {
        border: $border;
        border-radius: 12px;
        font-family: $font-main;
        font-size: 40px;
        color: $color-blue;
        text-align: center;
        text-decoration: none;
        padding: 25px;
        margin: 24px 0;
        width: 400px;
        height: 48px;
        transition: all 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.menu-picture {
    width: 600px;
    position: absolute;
    top: 35%;
    left: 40%;

    &__img {
        width: 500px;
        height: 500px;
        padding: 100px 0 0 280px;    
    }
}

@media (min-width: 50px) and (max-width: 600px) {
    .menu-section {
        width: 100%;
    }

    .menu-header {
        flex-direction: column;
        height: 300px;
        margin: 10px auto;
        
        &__logo {
            font-size: 30px;
            text-align: center;
            margin: 10px 250px 0 20px;
            min-width: 200px;
        }

        &__buttons {
            margin: -25px auto auto auto;
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        &__button {
            padding: 12px 15px 5px 15px;
            margin: 15px 0;
            width: 200px;
            height: 30px;
            font-size: 18px;
        }
    }

    .menu {
        &__button {
        padding: 12px 15px 5px 15px;
        width: 200px;
        margin: 15px 0;
        font-size: 18px;
        height: 30px;
        }

        &__buttons {
            margin: auto;
            align-items: center;
            width: 300px;
        }
    }

    .menu-picture {
        width: 120px;
        top: 6%;
        left: 55%;
        &__img {
            width: 100px;
            height: 100px;
            padding: 0;
        }
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .menu-section {
        width: 100%;
    }

    .menu-header {
        flex-direction: column;
        height: 460px;
        margin: 20px auto 20px auto;
        
        &__logo {
            font-size: 50px;
            text-align: center;
            margin: 0 250px 0 150px;
            min-width: 200px;
            max-width: 340px;
        }

        &__buttons {
            margin: -10px auto auto auto;
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        &__button {
            font-size: 30px;
            padding: 15px;
            margin: 15px 0;
            width: 380px;
            height: 36px;
        }
    }

    .menu {
        &__button {
            width: 380px;
            margin: 15px 0;
            padding: 15px;
            font-size: 30px;
            height: 36px;
        }

        &__buttons {
            margin: auto;
            align-items: center;
        }        
    }

    .menu-picture {
        width: 180px;
        top: 5%;
        left: 55%;

        &__img {
            width: 180px;
            height: 180px;
            padding: 0;
        }
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .menu-header {
        justify-content: flex-start;
        height: 300px;
        
        &__logo {
            font-size: 80px;
            margin: 0 0 0 80px;
            width: 500px;
            min-width: 200px;
        }
        
        &__buttons {
            padding: 15px;
            margin: 110px 0 60px 0;
            width: 620px;
            justify-content: space-around;
        }

        &__button {
            font-size: 32px;
        }
    }

    .menu {
        &__button {
            font-size: 32px;
            padding: 20px;
        }

        &__buttons {
            margin: 85px 100px;
        }
    }

    .menu-picture {
        top: 33%;
        &__img {
            padding: 90px 0 0 150px;
        }
    }
}

@media (min-width: 1301px) and (max-width: 1800px) {
    .menu-header {
        margin-left: 100px;

        &__logo {
            font-size: 90px;
        }

        &__title {
            width: 600px;
        }

        &__button {
            font-size: 35px;
        }

        &__buttons {
            padding: 15px;
        }
    }

    .menu {
        &__button {
            font-size: 35px;
        }
        &__buttons {
            margin: 70px 200px;
        }
    }
}
